body{
    background-color: beige;
}

header{
    border: 2px solid black;
    display: flex;
    text-align: center;
    width: 50%;
}

nav{
    display: block;
}

ul{
 display: flex;
 list-style-type: none;
 right: 0;
}

article{
    border: 2px solid black;
    width: 50%;
}

section{
    border: 1px solid black;
    width: 50%;
}

aside ul{
    right: 0;
}