body{
    background-color: palegreen;
}

body>header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

header{
    border: 1px solid black;
    display: flex;
    text-align: center;
}

header>*{
    flex: 1;
}

header>nav>ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

nav>ul>li{
    padding: 2%;
}

.post>article{
    background-color: rgba(255, 255, 0, 0.315);
    padding: 2%;
    padding-bottom: 0;
    margin: 5px 5px;

}

.post>article>header>i{
 
 margin: 0;
 border: 2px solid black;
 height: 50px;
 width: 50px;
 font-size: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.post>article>header>h3{
    margin: 0;
}

.post>article>section{
padding: 2%;
background-color: whitesmoke;
}

.post .comment{
    background-color: burlywood;
    margin: 1% 0 0 4%;
    padding-bottom: 2%;
}

.post>.comment>header>i{
 
 margin: 0;
 border: 2px solid black;
 height: 50px;
 width: 50px;
 font-size: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.post>.comment>section{
    border: 2px dashed red;
    background-color: whitesmoke;
}

aside{
    display: flex;
    position: fixed;
    right: 0;
    top: 33;
    height: 33%;
    border: 2 px solid black;
}

aside>ul>li{
    list-style-type: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
}