%centered{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
$bgColor: yellowgreen;
$border: 1px solid black;

@mixin text ($color) {
    color: red;
}
    
body{
    background-color: $bgColor;
    margin: 0;
    padding: 0;
   header{
        @include text(red);
        background-color: yellow;
        border: $border;
        padding: 2%;
        margin: 2%;
    }
    >section{
        border:$border;
        >header{
            padding: 0;
            margin: 0;
            >img{
                width: 30px;
            }
        }
        &:nth-child(1){
        padding: 2%;
        @extend %centered;
        width: 50px;
        }
        &:nth-child(2){
        padding: 2%;
        @extend %centered;
        flex-direction: row-reverse;
        background-color: floralwhite;
        }

    }
    main{
        @for $div from 1 to 7{
            div:nth-child(#{$div}){
                background-color: lighten( red, 6*$div);
            }
            
        }
        display: flex;
        flex-wrap: wrap;
        gap: 1%;
        justify-content: center;
        padding: 0;
        margin-left: 0;
        div{
            background-color: red;
            border: $border;
            @extend %centered;
            width: 33%;
            height: 20vh;
            padding: 0;
            margin: 0;
            // justify-content: space-between;
            align-items: center;
        >img{
            max-width: 90%;
            max-height: 90%;
            
            padding: 0;
        }
     }
    }
    section{
        display: flex;
        >header{
        
        }
            >article{
        border: $border;
        @extend %centered;
        display: flex;
        text-align: center;
        }
    
}
    footer{
    color:inherit;
    text-decoration: none;
    background-color: black;
    border: $border;
    @extend %centered;
    padding: 2%;
    }
}











